.blue{
    background-color: rgb(49, 49, 159);
    
}
.red{
    background-color: rgb(227, 15, 15);
}
.green{
    background-color: rgb(25, 219, 25)
}
.multan{
    background-color: rgb(18, 18, 192);
}
.yellow{
    background-color: rgb(230, 158, 26);
}
.perple{
    background-color: rgb(43, 6, 43);
}
.size{
    font-style: oblique;
}
.quetta{
    color: yellow;
    font-size: x-large;
}